body {
	margin: 0px;
}

header {
	width: 30%;
	float: left;
	margin: 0px;
	font-size: 40px;
}

#game-canvas {
	margin: auto;
	background-color: red;
}

#distance-canvas {
	margin: auto;
	width: 65%;
	margin-right: 10px;
}

header, #distance-canvas {
	height: 60px;
}

video {
	display: none;
}