body {
	margin: 0px;
	font-family: 'Helvetica Neue', Helvetica;
	color: #524a41;
}

header {
	float: left;
	width: 100%;
	margin: 0px;
	background-color: #ffeeac;
	border-bottom: solid 10px #524a41;
}

header span {
	font-size: 40px;
}

#score-box {
	float: right;
	width: 5%;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
}

#score-number {
	font-size: 20px;
	color: #de4a4a;
}

#game-canvas {
	margin: auto;
	background: #D1FDF8;
}

#distance-canvas {
	margin: auto;
	width: 60%;
	margin-right: 8%;
	border-left: 10px solid #de4a4a;
}

header, #distance-canvas {
	height: 60px;
}

video {
	display: none;
}

#message-overlay {
	position: absolute;
	top: 40%;
	width: 100%;
	font-weight: bold;
	font-size: 60px;
	color: #de4a4a;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
}

#credits {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.3);
	color: white;
	margin: 0px;
	padding: 3px;
	font-size: 13px;
}